<div class="wrapper">
    <app-header></app-header>
    <div class="main">
     
        <div class="form">
            <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">
                <div class="form__control control" *ngFor="let control of form.productControls">
                    
                    <label for="{{control.modelProperty}}">{{control.label}}</label>
                    <input id="{{control.modelProperty}}"
                    name="{{control.modelProperty}}"
                    formControlName="{{control.modelProperty}}"/>
    
                    <ul class="control__errors"
                    *ngIf="control.dirty && control.invalid">
                        <li *ngFor="let error of control.getValidationMessages()">
                        {{error}}
                        </li>
                    </ul>
                </div>
                
                <button type="submit"
                [disabled]="form.invalid">
                    Войти
                </button>
            </form>
        </div>
    </div>
</div>
